@media screen and (max-width: 924px) {
    body {
        height: auto;
    }

    .columns-container {
        padding: 20px 0;
        flex-wrap: wrap;
    }

    .first-column {
        border-radius: 6px 6px 0 0;
    }

    .third-column {
        border-radius: 0 0 6px 6px;
    }
}

@media screen and (max-width: 375px) {
    .columns-container {
        width: 90%;
    }

    .columns .column-content {
        padding-bottom: 35px;
    }
}